#home-courses ul li {
    width: 100%;
    height: 80px;
    border-radius: 14px;
    background: #F5F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 1rem;
}

#home-courses ul li img {
    height: 64px;
    width: 64px;
    border-radius: 12px;
    object-fit: cover;
}

#home-suggested-course {
    width: 100%;
    height: 140px;
    padding: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    background: #f5f5f7;
}

#home-suggested-course div {
    width: 50%;
}

#home-suggested-course div:last-child {
    text-align: center;
}

#home-suggested-course img {
    height: 100%;
}

#home-suggested-course button {
    border: none;
    outline: none;
    background: #2c48bf;
    color: white;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

/* Own-course */

#own-course-data {
    margin: 20px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F7;
    width: 84%;
    height: 80px;
    top: 239.34px;
    left: 236px;
    border-radius: 14px;
}

#own-course-data img {
    width: 64px;
    height: 64px;
    border-radius: 12px;
}

#own-course-data button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    margin-right: 12px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FF5C16;
}