.closeSide ~ #preHeader {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    transition: 0.1s;
}

.openSide ~ #preHeader {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    transition: 0.1s;
}

#course-category select {
    background: transparent;
    border: none;
    outline: none;
}

#course-category option {
    background: #ececf9;
    border: none;
}

#course-condition {
    display: flex;
}

#course-condition button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#course-condition button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#course-condition button {
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid;
    outline: none;
    cursor: pointer;
}

#course-condition i {
    margin-right: 5px;
}

#course-condition button:active {
    background: white;
} 