* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Montserrat;
  background: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  color: #99a1a7;
}
